<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>bahmni</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.BahmniOHAActivator</activator>
	<advice >
		<point>org.openmrs.module.bahmniemrapi.encountertransaction.service.BahmniEncounterTransactionService</point>
		<class >org.openmrs.module.bahmnioha.advisor.BahmniEncounterServiceAdvisor</class>
	</advice>
	<require_modules>
		<require_module>org.openmrs.module.emrapi</require_module>
		<require_module>org.bahmni.module.bahmnicore</require_module>
		<require_module>org.openmrs.module.webservices.rest</require_module>
	</require_modules>
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
				
	</mappingFiles>

	<globalProperty>
		<property>personal_access_token</property>
		<defaultValue>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImNiYWYyMTNhMmQxMTliYzRkOWZhOThlOGE3YTEwNjIxNjE2YWIxNDdlZjZkNDc2ZWZkMWM5MWI3ZTMxMTRlZmM5NjE1MDg4NzEyNjY1MjRhIn0.eyJhdWQiOiIxIiwianRpIjoiY2JhZjIxM2EyZDExOWJjNGQ5ZmE5OGU4YTdhMTA2MjE2MTZhYjE0N2VmNmQ0NzZlZmQxYz</defaultValue>
		<description>
access token		</description>
	</globalProperty>

	<globalProperty>
		<property>hearts_assessment_url</property>
		<defaultValue>http://128.199.199.111:8000/hearts</defaultValue>
		<description>
			hearts url		</description>
	</globalProperty>

</module>

